<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

    <h2>Adicionar território<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="inicio" name="start">
        <input type="text" placeholder="fim" name="end">
        <button type="submit">Submit</button>
    </form> 

</body>
</html>

